@import "./lib/variables.less";
@media @tablet {
  .hide-xs { display: none; }
}
.pages {
  overflow: scroll;
  height: 100vh;
  .page {
  
    scroll-snap-align: start;
    padding-top: 40px;
    min-height: 100vh;
    
    display: flex;
    width: calc(100vw - 40vw);
    padding-left: 20vw;
    @media @tablet {
      width: calc(100vw - 4vw);
      padding-left: 2vw;
    
    }
    justify-content: center;
  align-items: center;

    &.shrink {
  	min-height: auto;	
    }
  }
}

.page#intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 0px;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: min-content;
    .center {
      margin: 0 auto;
      text-align: center;
    }
    .title { 
      font-size: 90px
    }
    .button-scroll {
      margin-top: 60px;
    }
  }
}
.page {
  .container {
    display: flex;
    flex-direction: column;
	width: inherit;
    .box {
	  
      margin-bottom: 100px;
      & > .title {
        width: fit-content;
        font-size: 30px;
	font-weight: 300;
        margin-bottom: 10px;
      }
    }
  }
}
  .slide {
    display: flex;
    justify-content: space-between;
    @media @tablet {
      margin-top: 15px;
      flex-direction: column;
      &.key:after {
        content: ':';
      }
    }
  }
  .text {
    display: flex;
	.titleAndDate {
		@media @tablet {
			flex-wrap: wrap;
		}
		.date {
			opacity: 0.5;
			&::before {
				content: '// '
			}
			@media @tablet {
				display: none;
			}
		}
	}
    justify-content: space-between;
	.link {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
	}
    @media @tablet {
      margin-top: 15px;
      flex-direction: column;
      &.key:after {
        content: ':';
      }
    }
  }

.dates {
  .date {
    display: flex;
    justify-content: space-between;
    .time {
          &.past {
            text-decoration: line-through;
            text-decoration-thickness: 1px;
          }
    }
    @media @tablet {
      flex-direction: column;
      margin: 15px 0px;

      .time {
        &::before {
          content: '// '
        }
        opacity: 0.5;
      }
    }
  }
}
	
.contact {
  .keyValue {
    display: flex;
    @media @tablet {
      margin-top: 15px;
      flex-direction: column;
      &.key:after {
        content: ':';
      }
    }
    justify-content: space-between;
    .key {
      @media @tablet {
        &:after {
          content: ':';
        }
      }
    }
    .value {
      text-align: right;
      @media @tablet {
        text-align: left;
      }
      &.mono {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 50%;
        line-break: auto;
        font-family: monospace;
        font-size: 20px;
        max-width: calc(20px * 5 * 3);
      }
    }
  }
}

.logo > img {
  height: 20vh;
}

.down {
  height: 40px;
}
