@import "./variables.less";

:root {
  --heightHeader: 100px;
  --heightPlayer: 70px;
  --colorBackground: #000000ff;
  --colorPrimary: #38ffdeff;
  --colorLink: #ff23de;
  --menuFontSize: 33px;
  --fontSize: 23px;
  @media @tablet {
    --menuFontSize: 23px;
  
  }
  @media print {
    --colorPrimary: black;
    --colorBackground: white;
    --menuFontSize: 23px;
  }
}

body {
  margin: 0px;
  font-family: ui-sans-serif sans-serif;
  font-size: var(--fontSize);
  font-weight: 100;
  background-color: var(--colorBackground);
  color: var(--colorPrimary);
}

a, a:visited {
  color: var(--colorLink);
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}
hr {
  color: var(--colorPrimary);  
}



.header, .player {
  background-color: black;
  color: white;
}
.header {
  position: fixed;
  top: 0;
  height: calc(var(--heightHeader) - 1px);
  width: 100vw;
  border-bottom: solid 1px;

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media @tablet {
      width: 98vw;
    }
    width: calc(100vw - 20vw - 20vw);

    .menu {
      display: flex;
      width: min-content;
      margin-top: calc((var(--heightHeader) - var(--fontSize)) / 2 - 3px);

      font-size: var(--menuFontSize);

      a {
        color: white;
        text-decoration: unset;
        &.active, &:hover {
          text-decoration: underline;
        }
        &:not(:first-child) {
          margin-left: 30px;
        }
      }

    }
    .logo {
      --height: 70px;
      height: var(--height);
      margin-top: calc((var(--heightHeader) - var(--height)) / 2);
    }
  }
}
.content {
}
.menu {
  position: fixed;
  background-color: black;
  width: calc(100vw - 40vw);
  left: 0;
  padding-left: 20vw;
  z-index: 10;
  font-size: var(--menuFontSize);
  @media @tablet {
    padding-left: 0px;
	width: 100vw;
  }

  .items {
      display: flex;
      width: 100%;
      justify-content: space-between;
	  .item {
	    @media @tablet {
		  margin-left: 0px;
		}
	  }
	  @media @tablet {
		width: 100vw;
		flex-wrap: wrap;
		justify-content: space-around;
	  }
  }
  .nobordersnonations {
      width: calc(100vw + 40vw);
	  margin-left: -20vw;
	  border-bottom: 1px solid var(--colorLink);
	  margin-top: 5px;
  }

}

@media print {
  .noprint {
     visibility: hidden;
  }
  color: black;
}


